<!-- About Section -->
<section id="about">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center title">
            <h1> About Me </h1>
          <hr>
        </div>
        <div class="col-sm-7">

            <h2 class="section-heading">Who am I?</h2>
            <div class="lead">
              <p>A Leader, Technologist, Polyglot Programmer and generally a bit of a geek. I help teams to engineer great software, write quality code and to utilise the most appropriate language and toolset to solve the problem.</p>
              <p>I've spent the last 15 years working across several business domains, in a variety of business sizes from small startups to large corporates, turning disruptive technological ideas into code...</p>
            </div>
            <h3 class="section-heading text-center">
              <a href="/profile">See my profile...</a>
            </h3>
        </div>
        <div class="col-sm-5 text-center">
          <img class="img-rounded" src="/img/profile.jpg" alt="profile">
        </div>
      </div>
    </div>
  </div>
</section>
