<!-- About Section -->
<section id="about">
  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
            <h1>~ About Me ~</h1>
          <hr>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">

            <h2 class="section-heading">Who am I?</h2>
            <div class="lead">
              <span>a professional, a technologist, a programmer and generally a bit of a geek. I'm interested in engineering software, writing quality code and using the most appropriate language to solve the problem.
            </div>
            <h3 class="section-heading text-center">
              <a href="/profile">See my profile...</a>
            </h3>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <img class="img-responsive img-rounded" src="/img/profile.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
