<section>
{% assign post = site.posts.first %}
    <div class="content-section-a">
        <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center title">
                <h1> Latest Blog </h1>
                <hr/>
              </div>
              <div class="col-lg-5 col-sm-6">
                <img class="img-responsive img-rounded" src="{{ post.img | prepend: site.baseurl }}" alt="">
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <h2 class="section-heading">{{ post.postTitle }}</h2>
                <p>
                  <time datetime="{{ page.date | date_to_xmlschema }}" >
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ post.date | date: date_format }}
                  </time>
                </p>
                <div class="lead">{{ post.excerpt }}</div>
                <a href="{{ post.url | prepend: site.baseurl }}">more...</a>
              </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <h3 class="section-heading text-center">
                  <a href="{{ "blogs" | prepend: site.baseurl }}">See more posts...</a>
                </h3>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
